* {
  scroll-behavior: smooth;
}
header{
margin-bottom:2rem }
.app {
  min-height: 100vh;
  background-color: #874C62;
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
}
*{
    font-family: 'Oswald'!important;
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}


.MuiContainer-maxWidthLg {

    margin-top: 3rem;
}
*{
transition : 300ms all ease-in;
}
.title{
	flex-grow:1;
}
.media{
margin-top:3rem!important;}
.header{
box-shadow: 0px 1px -20px #F00!important;
}
.MuiBadge-badge{
width : 40px !important;
height: 40px !important;
border-radius : 50%!important;
font-size: 1.35rem!important;;
}
.media:hover{

    background-color: #FF0808!important;
}
.media{
background-color: #FF0909B8!important;;
}
.header{
background:black!Important;
box-shadow: 0px 1px 5px #FF0101;
}
.app{
background:black!Important;
}